.header {
  margin-top: 17%;
  text-align: center;
}
.inputs {
  margin: 2% auto;
  width: 50%;
  form {
    display: flex;
    justify-content: space-between;
    .from,
    .to {
      width: 45%;
      .mat-form-field {
        width: 100%;
      }
    }
    .switch {
      display: flex;
      align-items: center;
    }
  }
}
