<div class="header"><h2>Currency Converter</h2></div>
<div class="inputs">
  <form [formGroup]="form">
    <div class="from">
      <mat-form-field>
        <mat-select formControlName="CurrencyFrom">
          <mat-option *ngFor="let c of shareService.currency" [value]="c">{{
            c
          }}</mat-option></mat-select
        ></mat-form-field
      >
      <mat-form-field>
        <input
          matInput
          type="number"
          placeholder="From"
          formControlName="AmountFrom"
        />
      </mat-form-field>
    </div>
    <div class="switch" (click)="changeCurrency()">
      <i class="fas fa-exchange-alt"></i>
    </div>
    <div class="to">
      <mat-form-field>
        <mat-select formControlName="CurrencyTo"
          ><mat-option *ngFor="let c of shareService.currency" [value]="c">{{
            c
          }}</mat-option></mat-select
        ></mat-form-field
      >
      <mat-form-field>
        <input
          matInput
          type="number"
          placeholder="To"
          formControlName="AmountTo"
          readonly
        />
      </mat-form-field>
    </div>
  </form>
</div>
<div class="chart" *ngIf="showChart">
  <div class="chart__header">
    <h2>Chart</h2>
  </div>
  <div class="chart__calendars">
    <div class="chart__from">
      <label>Start Date</label>
      <p-calendar
        yearRange="2014:2021"
        [yearNavigator]="true"
        [readonlyInput]="true"
        dateFormat="yy/mm/dd"
        [(ngModel)]="startDate"
        (onSelect)="changeRange()"
      ></p-calendar>
    </div>
    <div class="chart__to">
      <label>End Date</label>
      <p-calendar
        yearRange="2014:2021"
        [yearNavigator]="true"
        [readonlyInput]="true"
        dateFormat="yy/mm/dd"
        [(ngModel)]="endDate"
        (onSelect)="changeRange()"
      ></p-calendar>
    </div>
  </div>
  <div class="chart__graph">
    <p-chart type="line" [data]="cases"></p-chart>
  </div>
</div>
