.header {
  margin-top: 17%;
  text-align: center;
}
.inputs {
  margin: 2% auto;
  width: 50%;
  form {
    display: flex;
    justify-content: space-between;
    .from,
    .to {
      width: 45%;
      .mat-form-field {
        width: 100%;
      }
    }
    .switch {
      display: flex;
      align-items: center;
    }
  }
}

.chart {
  &__header {
    text-align: center;
  }
  &__calendars {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
  }
  &__from {
    display: flex;
    flex-direction: column;
  }
  &__to {
    display: flex;
    flex-direction: column;
  }
  &__graph {
    width: 50%;
    margin: 0 auto;
  }
}
