<div class="header"><h2>Currency Converter</h2></div>
<div class="inputs">
  <div class="from">
    <mat-form-field>
      <mat-select> <mat-option></mat-option> </mat-select
    ></mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Input" />
    </mat-form-field>
  </div>
  <div class="to">
    <mat-form-field>
      <mat-select> <mat-option></mat-option> </mat-select
    ></mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Input" />
    </mat-form-field>
  </div>
</div>
